.body {
  font-family: Nunito, sans-serif;
}

.custom-card {
  width: 570px;
  max-width: 100%;
  height: 736px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  backdrop-filter: blur(15px);
}

.scroll-area {
  height: 650px; /* hoặc auto */
  margin: 0 24px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

/* Chỉnh kích thước cho ảnh thumb-nail trong Truyện Mới */
.imageTruyenMoi {
  width: 70px;
  height: 94px;
}

Custom scrollbar styles .scroll-area::-webkit-scrollbar {
  display: none;
}

/* .scroll-area::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-area::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.scroll-area::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
*/

h2 {
  padding-top: 24px;
  font-size: 26px;
  font-weight: 700;
}

h6 {
  font-size: 18px;
  font-weight: 700;
}

.list-group-item {
  padding: 12px 0px;
}

.gap-3 {
  gap: 1.25rem !important;
}

.card-body {
  padding: 0px !important;
}

a .title-truyen {
  margin-bottom: 0.5rem;
}

/* Custom thể loại truyện */
.custom-genre {
  color: #6750a4;
  border: 1px solid #6750a44d; /* viền */
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 10px;
  display: inline-block;
}

.me-1 {
  margin-right: 6px !important;
}
