@media (min-width: 1141px) and (max-width: 1440px) {
  .footer-container {
    gap: 75px;
  }
  .footer-logo {
    flex: 1 1 180px;
  }
}

@media (min-width: 1025px) and (max-width: 1140px) {
  /* Footer */
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 45px;
  }
}

@media (min-width: 850px) and (max-width: 1024px) {
  /* Footer */
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer-links {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 849px) {
  /* Footer */
  .footer {
    padding: 70px 53px;
  }

  .footer-container {
    gap: 30px;
  }

  .footer-logo img {
    width: 100%;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-bottom: 30px;
  }

  .ratio-16x9 {
    --bs-aspect-ratio: 22.25%;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  /* Footer */
  .footer {
    padding: 30px 60px;
  }

  .footer-container {
    gap: 30px;
  }

  /* Footer */
  .footer {
    padding: 30px 0;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-bottom: 30px;
  }
}

@media (min-width: 577px) and (max-width: 649px) {
  /* Footer */
  .footer {
    padding: 30px 0;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-bottom: 30px;
  }
}

@media (min-width: 426px) and (max-width: 576px) {
  /* Footer */
  .footer {
    padding: 30px 0;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-bottom: 30px;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  /* Footer */
  .footer {
    padding: 30px 0;
  }

  .footer-logo-img {
    margin-bottom: 0px;
  }

  .footer-logo p {
    font-size: 15px;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-bottom: 30px;
  }

  .ratio-16x9 {
    --bs-aspect-ratio: 36.25%;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  /* Footer */
  .footer {
    padding: 30px 0;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer-logo-img {
    margin-bottom: 0px;
  }

  .footer-logo p {
    font-size: 15px;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  /* Footer */
  .footer {
    padding: 30px 0;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer-logo-img {
    margin-bottom: 0px;
  }

  .footer-logo p {
    font-size: 15px;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-bottom: 30px;
  }
}
